:root {
    --primary: #ee6e73;
    --accent: #009688;
}

.themePrimary {
    background-color: var(--primary);
}

.themeAccent {
    background-color: var(--accent);
}

.textDark {
    color: black
}

.textPrimary {
    color: white
}

.marginAll {
    margin: 1vw
}

/* red lighten-2 materialize css default */
.gee6e73 {
    background: #feada6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feada6, #f5efef);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #feada6, #f5efef);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(45deg, #feada6 0%, #f5efef 100%);
}

/* green */
.g4caf50 {
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* pink */
.ge91e63 {
    background: #f2709c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* blue, cyan */
.g2196f3,
.g00bcd4 {
    background: #acb6e5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* purple */
.g9c27b0 {
    background: #ef32d9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89fffd, #ef32d9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* teal */
.g009688 {
    background: #AAFFA9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* indigo */
.g3f51b5 {
    background: #acb6e5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* blue-grey */
.g607d8b {
    background: #a6c1ee;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc2eb, #a6c1ee);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/* red */
.gf44336 {
    background: #FF5F6D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}