<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <h4 class="center">Paper Topic</h4>
        <iframe src="/pdf/paper.pdf" style="width:100%; height:1080px;" frameborder="0"></iframe>
        <div class="container center">
            <br>
            <div class="card-panel">
                <h5 class="center">Paper Topic</h5>
                <form>
                    <div class="input-field">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Remarks</label>
                    </div>
                </form>
                <a href="#" class="waves-effect waves-light themeAccent marginAll btn z-depth-0">Accept</a>
                <a href="#" class="waves-effect waves-light themeAccent marginAll btn z-depth-0">Reject</a>
            </div>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>