<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/edit">Edit</button>
    </a>

    <h1>Profile Page</h1>

    <h3>Name:
        <%=User._name %>
    </h3>
    <h3>Email:
        <%=User._email %>
    </h3>
    <h3>Gender:
        <%=User._gender %>
    </h3>
    <h3>You are
        <i>"
            <%=User._type%>"</i>
    </h3>
    <br>
    <br>
    <% include ./Layout/Header.ejs %>
</body>

</html>