<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Register Page</h1>
    <form method="POST" action="/register">
        <label>Name</label>
        <input type="text" name="NAME" />
        <br>
        <br>
        <label>Gender : </label>
        <input type="radio" value="Male" name="GENDER" checked>
        <label>Male</label>
        <input type="radio" value="Female" name="GENDER">
        <label>Female</label>
        <input type="radio" value="Other" name="GENDER">
        <label>Other</label>
        <br>
        <label>User Type</label>
        <input type="radio" name="TYPE" value="author" checked> Author
        <input type="radio" name="TYPE" value="reviewer"> Reviewer
        <br>
        <br>
        <label>Email</label>
        <input type="text" name="EMAIL" />
        <br>
        <br>
        <label>Password</label>
        <input type="password" name="PASS" />
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
    <br>
    <br>
    <% include ./Layout/Header.ejs %>
</body>

</html>