<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <br>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l6 push-m2 push-l3">
                    <div class="card-panel hoverable">
                        <form action="/profile" method="post">
                            <div class="input-field">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Full Name</label>
                            </div>
                            <div>
                                <span>Gender:</span><br><br>
                                <label class="marginAll">
                                    <input name="group1" type="radio" checked="checked" />
                                    <span>Male</span>
                                </label>
                                <label class="marginAll">
                                    <input name="group1" type="radio" />
                                    <span>Female</span>
                                </label>
                                <label class="marginAll">
                                    <input name="group1" type="radio" />
                                    <span>Other</span>
                                </label>
                            </div>
                            <div class="input-field">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div>
                                <span>Register as: (Choose at least one)</span><br><br>
                                <label class="marginAll">
                                    <input type="checkbox" checked="checked" />
                                    <span>Author</span>
                                </label>
                                <label class="marginAll">
                                    <input type="checkbox" />
                                    <span>Reviewer</span>
                                </label>
                                <label class="marginAll">
                                    <input type="checkbox" />
                                    <span>Editor</span>
                                </label>
                            </div>
                            <br>
                            <a class="waves-effect waves-light themeAccent btn-small marginAll">Register</a>
                            <a href="/login" class="waves-effect waves-light themeAccent btn-small right marginAll">Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>