<% if(!person) { %>
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="/register">Register</a>
</li>

<% } else { %>


<li>
    <a href="/profile">
        <%= person._name %>
    </a>
</li>
<li>
    <a href="/logout">logout</a>
</li>


<% } %>
<li>
    <a href="/">Home</a>
</li>